name: Flutter CI

on:
 push:
   paths:
     - 'pubspec.yaml'

jobs:
 build:
   runs-on: ubuntu-latest
   steps:

     - uses: actions/checkout@v3
     - uses: actions/setup-java@v2
       with:
         distribution: 'zulu'
         java-version: '11'
     - uses: subosito/flutter-action@v2
       with:
         flutter-version: '3.35.0'
     - run: flutter pub get
     - run: flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi --release
      # Upload generated apk to the artifacts.
      # - uses: actions/upload-artifact@v1
      #   with:
      #     name: release-apk
      #     path: build/app/outputs/apk/release/app-release.apk
